html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 0 16px;
  padding-bottom: 55px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
