.radioButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    margin-bottom: 0;
  }

}
.boletoWrapper {
  display: flex;
  align-items: center;
  background-color: #ebeaea;
  padding: 16px;
  justify-content: space-between;
  i {
    font-size: 45px;
  }
  p {
    width: 70%;
  }
}
