.menuPage {
    .menuLoggedHeader {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menuUnloggedHeader {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}